.btn {
    display : inline-block;
    background: transparent;
    border-width: 2px;
    border-style: solid;
    font-family : 'Open Sans Condensed';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 24px;

    width : 326px;
    height : 50px;
    line-height : 46px;

    @media @media1 {
        display : block;
        margin : 0 auto;
    }

    &, &:hover, &:visited, &:active {
        text-decoration: none;
    }

    &, &:active {
        outline: none;
    }
}

.btn--white {
    border-color : @white;
    &, &:hover, &:active, &:visited {
        color : @white;
    }
}

.btn--dark {
    border-color : @green-dark;
    &, &:hover, &:active, &:visited {
        color: @green-dark;
    }
}
.btn--darkred {
    border-color : @red-dark;
    &, &:hover, &:active, &:visited {
        color: @red-dark;
    }
}

.btn--gray {
    &, &:hover, &:visited {
        color: #c4c4cc;
    }
    border-color : #C4C4CC;

    &:active {
        border-color : @gray;
        color : @almostblack2;
    }
}

.btn--green {
    border-color : @green;
    background : @green;
    &, &:hover, &:active, &:visited {
        color: @white;
    }
}
.btn--orange {
    border : none;
    &, &:hover, &:active, &:visited {
        color : #62470b;
    }

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feda23+0,fa840d+100 */
    background: #feda23; /* Old browsers */
    background: linear-gradient(to bottom,  #feda23 0%,#fa840d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feda23', endColorstr='#fa840d',GradientType=0 ); /* IE6-9 */

    &:active {
       background: #fa840d; /* Old browsers */
       background: linear-gradient(to bottom,  #fa840d 0%,#feda23 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
       filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa840d', endColorstr='#feda23',GradientType=0 ); /* IE6-9 */

    }

}