//
// @font-face's declaration here
//
@font-face {
	font-family: 'Direct';
	src: 	url('@{public}fonts/Direct/Direct-Regular.eot?#iefix') format('embedded-opentype'),  
			url('@{public}fonts/Direct/Direct-Regular.otf')  format('opentype'),
			url('@{public}fonts/Direct/Direct-Regular.woff') format('woff'), 
			url('@{public}fonts/Direct/Direct-Regular.ttf')  format('truetype'), 
			url('@{public}fonts/Direct/Direct-Regular.svg#Direct-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Direct';
	src: 	url('@{public}fonts/Direct/Direct-Bold.eot?#iefix') format('embedded-opentype'),  
			url('@{public}fonts/Direct/Direct-Bold.otf')  format('opentype'),
			url('@{public}fonts/Direct/Direct-Bold.woff') format('woff'), 
			url('@{public}fonts/Direct/Direct-Bold.ttf')  format('truetype'), 
			url('@{public}fonts/Direct/Direct-Bold.svg#Direct-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Comfortaa';
	src: url('@{public}fonts/Comfortaa/Comfortaa-Regular.eot');
	src: url('@{public}fonts/Comfortaa/Comfortaa-Regular.eot?#iefix') format('embedded-opentype'),
		url('@{public}fonts/Comfortaa/Comfortaa-Regular.woff') format('woff'),
		url('@{public}fonts/Comfortaa/Comfortaa-Regular.ttf') format('truetype'),
		url('@{public}fonts/Comfortaa/Comfortaa-Regular.svg#Comfortaa-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Comfortaa';
	src: url('@{public}fonts/Comfortaa/Comfortaa-Bold.eot');
	src: url('@{public}fonts/Comfortaa/Comfortaa-Bold.eot?#iefix') format('embedded-opentype'),
		url('@{public}fonts/Comfortaa/Comfortaa-Bold.woff') format('woff'),
		url('@{public}fonts/Comfortaa/Comfortaa-Bold.ttf') format('truetype'),
		url('@{public}fonts/Comfortaa/Comfortaa-Bold.svg#Comfortaa-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Condensed';
	src: url('@{public}fonts/OpenSansCondensed/OpenSans-CondensedLightItalic.eot');
	src: url('@{public}fonts/OpenSansCondensed/OpenSans-CondensedLightItalic.eot?#iefix') format('embedded-opentype'),
		url('@{public}fonts/OpenSansCondensed/OpenSans-CondensedLightItalic.woff') format('woff'),
		url('@{public}fonts/OpenSansCondensed/OpenSans-CondensedLightItalic.ttf') format('truetype'),
		url('@{public}fonts/OpenSansCondensed/OpenSans-CondensedLightItalic.svg#OpenSans-CondensedLightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans Condensed';
	src: url('@{public}fonts/OpenSansCondensed/OpenSans-CondensedBold.eot');
	src: url('@{public}fonts/OpenSansCondensed/OpenSans-CondensedBold.eot?#iefix') format('embedded-opentype'),
		url('@{public}fonts/OpenSansCondensed/OpenSans-CondensedBold.woff') format('woff'),
		url('@{public}fonts/OpenSansCondensed/OpenSans-CondensedBold.ttf') format('truetype'),
		url('@{public}fonts/OpenSansCondensed/OpenSans-CondensedBold.svg#OpenSans-CondensedBold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Condensed';
	src: url('@{public}fonts/OpenSansCondensed/OpenSans-CondensedLight.eot');
	src: url('@{public}fonts/OpenSansCondensed/OpenSans-CondensedLight.eot?#iefix') format('embedded-opentype'),
		url('@{public}fonts/OpenSansCondensed/OpenSans-CondensedLight.woff') format('woff'),
		url('@{public}fonts/OpenSansCondensed/OpenSans-CondensedLight.ttf') format('truetype'),
		url('@{public}fonts/OpenSansCondensed/OpenSans-CondensedLight.svg#OpenSans-CondensedLight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('@{public}fonts/OpenSans/OpenSans-Light.eot');
	src: url('@{public}fonts/OpenSans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
		url('@{public}fonts/OpenSans/OpenSans-Light.woff') format('woff'),
		url('@{public}fonts/OpenSans/OpenSans-Light.ttf') format('truetype'),
		url('@{public}fonts/OpenSans/OpenSans-Light.svg#OpenSans-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('@{public}fonts/OpenSans/OpenSans-Bold.eot');
	src: url('@{public}fonts/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('@{public}fonts/OpenSans/OpenSans-Bold.woff') format('woff'),
		url('@{public}fonts/OpenSans/OpenSans-Bold.ttf') format('truetype'),
		url('@{public}fonts/OpenSans/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('@{public}fonts/OpenSans/OpenSans.eot');
	src: url('@{public}fonts/OpenSans/OpenSans.eot?#iefix') format('embedded-opentype'),
		url('@{public}fonts/OpenSans/OpenSans.woff') format('woff'),
		url('@{public}fonts/OpenSans/OpenSans.ttf') format('truetype'),
		url('@{public}fonts/OpenSans/OpenSans.svg#OpenSans') format('svg');
	font-weight: normal;
	font-style: normal;
}