.footer {
	font-family : 'Open Sans Condensed', sans-serif;
	&__upper {
		width : 100%;
		background : @white;
	}
	&__logo-wrapper {
		text-align : center;
		padding-top : 30px;
		padding-bottom : 30px;
	}
	&__logo {
		width : 116px;
		height : 95px;
	}
	&__phone-text {
		text-align : center;
		width: 100%;
		font-size: 30px;
		font-weight: bold;
		color: @red;
		height : 30px;
		line-height : 28px;
		margin-bottom : 4px;
	}
	&__email {
		font-family : 'Open Sans', sans-serif;
		font-weight : 300;
		display : block;
		text-align : center;
		margin-bottom : 20px;
		font-size : 15px;
		&, &:hover, &:active, &:visited {
			color : @blue !important;
			text-decoration: none;
		}
	}
	&__copyright {
		font-family : 'Open Sans', sans-serif;
		color : @gray-dark;
		font-size : 12px;
		padding-bottom : 20px;
		text-align : center;
	}
	&__full-version-link {
		width : 100%;
		height : 40px;
		background : @green;
		text-align : center;
		a {
			font-size : 15px;
			font-weight : bold;
			line-height : 40px;
			&, &:hover, &:active, &:visited {
				color : @white;
				text-decoration: none;
			}
			&:after {
				content : '';
				background : url("@{public}images/arrow-right.png");
				width : 17px;
				height : 9px;
				margin-left: 8px;
				background-repeat : no-repeat;
				display : inline-block;
			}
		}
	}
}