//
// general style for layouts
//
html {
    color       : @black;

    // to further use sizes in rem
    //.media-for(font-size, @main_font_size); // the adaptive way
    font-size : @main_font_size;

    @media @media1 { min-width : @width1; }
    @media @media2 { min-width : @width2; }
    

    body {
        font-family : 'Open Sans Condensed', sans-serif;
        background : @white;
        @media @media1 { min-width : @width1; max-width : @width1; }
        @media @media2 { min-width : @width2; max-width : @width2; }
        
        width      : auto;
        overflow-x : hidden !important;

        // nice fonts Safari
        text-rendering         : optimizeLegibility;
        -webkit-font-smoothing : antialiased;
    }
}

// box-sizing to all
*, *:before, *:after {
    .box-sizing( border-box );
}

// container & wrapper
.container {
    width     : 100%;
}
.wrapper {
    margin       : 0 auto;
    position     : relative;
    lost-utility : clearfix;
}
.full-width {
    margin-left : -20px;
    margin-right : -20px;

    @media @media2 {
        margin-left : -40px;
        margin-right : -40px;
    }
}

//
// Sticky footer
//
html, body, .layout-wrapper {
    margin  : 0;
    padding : 0;
    height  : 100%;
}
.layout {
    &-wrapper {
        display  : block;
        width    : 100%;
    }
    &-header, &-footer, &-main {
        display  : block;
    }
} //.layout

.layout-wrapper {
    padding-top : 99px;
    @media @media2 {
        padding-top : 119px;   
    }
}
.layout-main {
    lost-utility: clearfix;
    background : @gray-light;
}
body.index .layout-wrapper {
    padding-top : 0;
}
#white_overlay {
    background : @white;
    position : fixed;
    top : 0;
    bottom : 0;
    left : 0;
    right : 0;
    z-index :99999;
}
input.error { background : #FDA68C; }
label.error {
    color: #d23a25;
    margin-top: 6px;
    display: block;
    padding-left: 2px;
    text-shadow: 1px 1px 1px #FFE8E8;
}