.header {
	background : fade(@white, 90%);
    &.nav-opened { background : @white; }
	position : absolute;
    top : 0;
    left : 0;
    right : 0;
    z-index : 999;

    @media @media1 { 
        width : @width1; 
        height : 100px;
    }
    @media @media2 { 
        width : @width2; 
        height : 120px;
    }
    
    &__wrapper {}
    &__navigation {
    	display : inline-block;
    	position : absolute;
        width : 22px;
        height : 22px;
        background : url('@{public}images/menu.icon.png');
        &--toggled {
            background : url('@{public}images/menu-close.icon.png');
        }

        @media @media1 { 
            top : 37px;
            right : 20px;
        }
        @media @media2 { 
            top: 49px;
            left: 20px;
        }

    }
    &__logo {
    	width : 223px;
    	height : 59px;
        margin-left : 20px;
        margin-top : 20px;

        @media @media2 {
            margin-top : 30.5px;
            margin-left : 272.5px;
        }
    }
    &__phone {
    	display : inline-block;
    	position : absolute;
        right : 89px;
        top : 36px;
        @media @media2 {
            top : 48px;
            right : 20px;
        }
    	width : 26px;
    	height : 26px;
    	background : url('@{public}images/phone.icon.png');
    }
} 