.nav {
	position : absolute;
	z-index :999;

    @media @media1 { top: 100px; width : @width1; left : -@width1; }
    @media @media2 { top: 120px; width : @width2; left : -@width2; }

	transition : left .3s ease-in-out;
	&--active {
		left : 0;
		transition : left .12s ease-in;
	}

	&__list {
		padding-top : 10px;
		width : 100%;
		background : @white;
	}
	&__link {
		display : block;
		background : @transparent;
		border-top : 1px solid fade(#629e2a, 60%);
		font-family : 'Open Sans Condensed', sans-serif;
		font-size : 25px;
		&--active { font-weight : bold; }

		margin-left : 20px;
		margin-right : 20px;
		padding-left : 10px;
		text-align : left;
		height : 80px;
		line-height : 80px;


		&, &:hover, &:active, &:visited {
			color : @almostblack !important;
			text-decoration: none;
		}
	}

	&__overlay {
		position : fixed;
		top : 100px;
		@media @media2 {
			top : 120px;
		}
		left : 0;
		right : 0;
		bottom : 0;
		background : rgba(0,0,0,.6);
		z-index : -1;
		opacity : 0;
		&--active {
			top : 0;
			opacity : 1;
			z-index : 997;
			transition : opacity .1s ease-in .0s
		}
	}
}