//
// Pages custom styles
//
.infrastructure {
	.full-width();
	font-size: 0;
	&__map {
		@media @media1 { width: @width1; height : @width1*1.8; }
		@media @media2 { width: @width2; height : @width1*1.4; }
	}
}
.about {
	.full-width();
	&__wrapper {
		padding : 0 20px;
	}
	padding-bottom : 40px;
}
.documents {
	.full-width();
	background : @white;
	padding-top : 1px;
	&__wrapper {
		padding : 0 20px;
	}

	&__doc {
		&-wrapper {
			position : relative;
			display : block;
			margin-bottom : 15px;
			&, &:hover, &:visited, &:active{
				text-decoration: none;
			}
			&:before {
				content : url('@{public}images/pdf.png');
				width : 50px;
				height : 50px;
				position : absolute;
				left : 0;
				top : 0;
			}
		}
		
		&-title {
			color: @green;
		    padding-left: 70px;
		    display: block;
		    font-size: 20px;
		    font-weight: 300;
		    line-height: 26px;
		}
		&-status {
			display : block;
			padding-left : 70px;
			padding-top : 2px;
			font-size : 15px;
			color : @gray;
		}
	}
	padding-bottom : 40px;
}

// YAMAP points
.placemark_layout_container { 
    position: relative;
    text-align: center;
}
       
.dot_layout {
    background-color: @red;
    position: absolute;
    left: -12px;
    top: -12px;
    width: 24px;
    height: 24px;
    border: none;
    color: white;
    border-radius: 24px;
}
.arrow_layout {
    background: url('@{public}images/yamap-arrow.png');
    position: absolute;
    left: -12px;
    top: -14px;
    width: 24px;
    height: 28px;
    border: none;
}
.seasons_layout {
    background: url('@{public}images/placemark.png');
    position: absolute;
    left: -40px;
    top: -40.5px;
    width: 80px;
    height: 81px;
    border: none;
}
.yamap_title{
	position : absolute;
	padding-top :14px;
	left : -70px;
	width : 140px;
	color: white;
	display : inline-block;
	font-weight : bold;
	text-align: center;
	font-size : 14px;
	line-height : 16px;
	text-shadow : 1px 1px 0px black;
	font-family : 'Open Sans Condensed', sans-serif;

	&--large {
		font-size : 20px;
		line-height : 21px;
		width :180px;
		left : -90px;
		padding-top : 40px;
	}
}