.typography {

    .layout-main {
        padding : 0 20px;
        @media @media2 {
            padding : 0 40px;
        }
    }
    
    //
    // Заголовки
    //
    h1, .h1 {
        font-size : 'Open Sans Condensed';
        font-size : 40px;
        line-height : 40px;
        font-weight : bold;
        color : @almostblack2;
        margin : 40px auto;
        text-align : center;
        &:first-child {
            margin-top : 0;
            padding-top : 40px;
        }
    }
    h2, .h2 {
        font-size : 'Open Sans Condensed';
        font-size : 30px;
        line-height : 30px;
        font-weight : bold;
        color : @almostblack;
        margin : 30px auto;
        text-align : left;
    }
    p + h2, p +.h2 {
        margin-top : 45px;
    }
    h3, .h3 {
        font-size : 'Open Sans';
        font-size : 25px;
        line-height : 28px;
        font-weight : bold;
        color : @green;
        margin-bottom: 18px;
        margin-top : 40px;
    }
    h4, .h4 {
        font-size : 'Open Sans Condensed';
        font-size : 20px;
        line-height : 22px;
        font-weight : bold;
        color : @almostblack;
        margin-bottom: 22px;
        margin-top : 22px;    
    }

    .date {
        font-family : 'Open Sans Condensed';
        font-weight : 300;
        font-size : 20px;
        color : @green;
    }
    h2+.date,
    .h2+.date {
        margin-top : -20px;
    }

    //
    // Ссылки
    //
    // a { color : @link-color-main; }
    // a:hover { color : @link-color-main; }
    // a:visited { color : @link-color-main; }
    // a:active { color : @link-color-active; }

    .address {
        &, &:hover, &:active, &:visited {
            color : @green;
            text-decoration: none;
        }
        span {
            border-bottom : 1px solid @green;
        }
    }

    //
    // Абзацы
    //
    // usual text without p
    font-size : 'Open Sans Condensed';
    font-weight : 300;
    font-size : 20px;
    color : @almostblack;
    line-height : 24px;
    p {
        margin-bottom : 30px;
    }

    .simple-slider {
        position : relative;
        @media @media1 { width : @width1; }
        @media @media2 { width : @width2; }

        &:after {
            position : absolute;
            display : block;
            @media @media1 { width : @width1; }
            @media @media2 { width : @width2; }
            height: 24px;
            bottom: 10px;
            content : url('@{public}images/simple-slider-icon.png');
            text-align : center;
            z-index : 9;
        }
        &:before {
            position : absolute;
            bottom : 0;
            content : " ";
            @media @media1 { width : @width1; }
            @media @media2 { width : @width2; }
            height : 102px;
            z-index: 8;
            display : block;
            background : url('@{public}images/simple-slider-shadow.png');
        }
    }

    //
    // Списки
    //

    ul {
        list-style : none;
        padding-left : 26px;
        padding-right : 20px;
        li {
            font-size : 20px;
            line-height : 24px;
            position : relative;
            padding-bottom : 16px;
            &:before {
                content : url('@{public}images/li.png');
                width : 16px;
                height : 11px;

                position : absolute;
                left : -26px;
                top : 0px;
            }
        }
    }
    ol {
        font-family : 'Open Sans Condensed';
        list-style : none;
        padding-left : 20px;
        padding-right : 20px;
        counter-reset: section;

        li {
            font-size : 20px;
            line-height : 24px;
            position : relative;
            padding-bottom : 16px;

            &:before {
                position : absolute;
                left : -20px;
                top : 0px;

                font-size : 20px;
                color : @almostblack;
                font-weight : bold;
                text-align : left;
                content: counter(section)".";
                counter-increment: section;
            }
        }
    }

    // Чистый бестилевый список
    ul.clean {
        .clean-ul-list();
    }

    //
    // Таблицы
    //
    table.table--red {
        thead tr { border-color : @red; }
        th:first-child { color : @red; }
        tbody tr:last-child { border-color : @red; }
        tbody tr td:first-child { color : @red; }
    }
    table {
        width: 100%;
        margin-bottom : 40px;
        margin-top : 20px;
        
        thead tr {
            border-bottom : 2px solid @green;
        }
        th {
            font-family : 'Open Sans Condensed';
            font-size : 15px;
            font-weight : 300;
            text-transform: uppercase;
            text-align: center;
            padding-top : 12px;
            padding-bottom : 12px;
            color : @gray;
            &:first-child {
                color : @green;
                font-weight : bold;
            }
        }

        tbody {
            tr {
                height : 60px;
                border-bottom : 1px solid @gray9;
                &:last-child {
                    border-bottom : 2px solid @green;
                }
                td {
                    text-align : center;
                    color : @almostblack;
                    font-size : 20px;
                    line-height : 60px;
                    font-weight : 300;
                    &:first-child {
                        color : @green;
                        font-weight : bold;
                    }
                    &:last-child {
                        font-size : 25px;
                        font-weight : bold;
                    }
                }
            }
        }
    }

    //
    // Цитаты
    //
    blockquote {}

    //
    // Сноска
    //
    cite {}

    //
    // Формы
    //
    .btn.white {
        .btn--white();
    }
    .btn.dark {
        .btn--dark();
    }
    .btn.orange {
        .btn--orange();
    }

    .btn-bricks {
        font-size : 0;
    }
    .btn-brick-1 {
        background: url("@{public}img/brick-1-left.png");
        width: 210px;
        height: 120px;
        display: inline-block;
        padding-top : 38px;
        &, &:hover, &:active, &:visited {
            text-decoration: none;
            color : @white !important;
        }
        &.right {
            margin-left : 20px;
            background: url("@{public}img/brick-1-right.png");
        }

        font-size : 20px;
        text-align : center;
        strong {
            font-size : 30px;
            font-weight : bold;
        }
    }
    .btn-brick-2 {
        margin-top : 20px;
        background: url("@{public}img/brick-2.png");
        width: 440px;
        height: 120px;
        display: inline-block;
        padding-top : 38px;

        &, &:hover, &:active, &:visited {
            text-decoration: none;
            color : @white !important;
        }

        font-size : 20px;
        text-align : center;
        strong {
            font-size : 30px;
            font-weight : bold;
        }
    }


    //
    // Typography utilities
    //
    .utility-text-left   { text-align : left !important; }
    .utility-text-center { text-align : center !important;  }
    .utility-text-right  { text-align : right !important; }

    .utility-float-left   { float : left !important; }
    .utility-float-center { float : center !important; }
    .utility-float-right  { float : right !important; }

    .utility-block { display: block !important; }
    .utility-inline { display: inline !important; }
    .utility-inline-block { display: inline-block !important; }

    .strong { font-weight : 700 !important; }
    .underline { text-decoration: underline !important; }
    .semistrong, strong.semi { font-weight : 500 !important; }
    .cursive { font-style : italic !important; }

} //.typography
