//
// Put global variables HERE :
//


//
// Path helper var
//
@public : '/build/';

//
// color vars
//
@black             : #000000;
@white             : #FFFFFF;
@transparent       : transparent;
@link-color-main   : #000;
@link-color-active : #000;
@almostblack       : #252525;
@gray-dark 		   : #393939;
@almostblack2 	   : #121F37;
@gray : #818181;
@gray9 : #9d9d9d;
@green : #629e2a;
@green-dark : #385819;
@green-light : #7ec92a;
@gray-light : #f5f5f5;
@gray-e : #e6e6e6;
@red : #f53d20;
@red-dark : #8b2211;
@blue : #3472dc;

//
// Main font size
//
@main_font_size : 14px;

//
// Adaptive configuration
//

@width1 : 480px;
@width2 : 768px;

// media ranges
@media1 : ~"screen and (max-width: 767px)";
@media2 : ~"screen and (min-width: 768px)";