.notfound {
	background-repeat: no-repeat;
	background-size: cover;

	.full-width();
	padding-top : 1px;

	@media @media1 {
		height : 582px;
		background-image : url('@{public}images/404-bg-480.jpg');	
	}
	@media @media2 {
		height : 634px;
		background-image : url('@{public}images/404-bg-768.jpg');	
	}


	&__heading {
		font-size : 120px;
		line-height : 120px;
		font-family : 'Open Sans Condensed';
		color : @almostblack;
		margin-top : 79px;
		margin-bottom : 50px;
		font-weight : bold;
		text-align: center;
	}
	&__text {
		font-weight : 300;
		font-family : 'Open Sans Condensed';
		font-size : 20px;
		line-height : 24px;
		color : @almostblack;
		text-align: center;

		p {
			margin-top : 30px;
			width : 80%;
			margin-left : 10%;
		}
	}
}