.banner {

	font-family : 'Open Sans Condensed', sans-serif;
	background : url('@{public}images/banner-1.bg.jpg');
	background-size : auto;

	height : 400px;
	position : relative;
	&__header {
		font-weight : bold;
		font-size : 40px;
		line-height : 40px;
		padding-top : 60px;
		text-align : center;
		color : @white;
	}
	&__subheader {
		font-weight : normal;
		font-size : 30px;
		line-height : 30px;
		padding-top : 20px;
		text-align : center;
		color : @white;
	}
	&__button-wrapper {
		text-align : center;
		margin-top : 60px;
	}
	&__button {
		.btn();
		.btn--white();
		width: 400px;
		height: 60px;
		line-height : 58px;
	}
}