.contacts {
	padding-top : 1px;
	.full-width();
	background-color : @gray-light;
	font-family : 'Open Sans Condensed';
	&__title {
		font-weight : bold;
		color : @almostblack2;
		text-align : center;
		margin-top : 30px;
		margin-bottom : 40px;
		@media @media1 { font-size: 40px; line-height: 40px; }
		@media @media2 { font-size: 30px; }
	}

	&__subtitle {
		font-weight : bold;
		margin-top : 30px;
		margin-bottom : 20px;
		font-size : 30px;
		color : @almostblack;
		text-align : center;
	}
	&__phone {
		font-weight : bold;
		font-size: 25px;
		line-height : 28px;
		color : #121f37;
		text-align : center;
		margin-bottom : 6px;
	}
	&__email {
		&, &:hover, &:active, &:visited {
			color : @green;
			text-decoration: none;
		}
		font-weight : 300;
		font-size: 25px;
		line-height : 25px;
		text-align : center;
		margin-bottom : 30px;
		display : block;
	}
	&__address {
		font-weight : 300;
		font-size: 25px;
		line-height : 28px;
		margin-bottom : 50px;
		text-align: center;
	}
	&__btn-wrapper {
		text-align : center;
		margin-top : 50px;
		margin-bottom : 50px;
	}
	&__btn {
		.btn();
		.btn--orange();
		height : 50px;
		line-height : 50px;
		width : 400px;
		font-size : 20px;
	}

	&__map {
		margin-top: 50px;

		@media @media1 { width: @width1; height : @width1; }
		@media @media2 { width: @width2; height : @width1; }
	}
}