.flatbar {
	position : absolute;
	top : 0;
	height : 60px;
	width : 100%;
	background : @green;
	transition : left .2s ease-in;
	left : 0;

	&--closed {
		left : 100%;
		transition : left .33s ease-in;
	}

	&__caller {
		width : 64px;
		height : 40px;
		background : url("@{public}images/filter-button-right.png");
		display : inline-block;
		position : absolute;
		top : 15px;
	    right: 100%;
	    margin-left: -1px;
	}
	&__caller-hint {
		color : @almostblack;
		font-style : italic;
		font-size : 15px;
		font-weight : 300;
	    position: absolute;
	    width: 100px;
	    right: 100%;
	    margin-right: 100px;
	    display: inline-block;
	    top: 15px;
	    text-align: right;

		&:after {
			background : url("@{public}images/caller-hint-arrow.png");
			content : '';
			width : 17px;
			height : 9px;
			display : inline-block;
			position : absolute;
			right : -25px;
			top : 15px;
		}
	}

	&__close {
		background : url('@{public}images/flatbar-arrow.png');
		display : inline-block;

		position : absolute;
		left: 0;
		top : 0;
		background-repeat: no-repeat;
	    height: 60px;
	    width : 60px;
	    background-position: 22px 19px;
	}

	&__divider {
		background : url('@{public}images/flatbar-divider.png');
		width : 1px;
		height : 36px;
		display : inline-block;

		position : absolute;
		top : 12px;
		left : 60px;
	}

	&__wrapper {
		margin-left : 62px;
		a { display: block; width : 100%; height : 60px; 
			display : flex; flex-direction : row; justify-content : space-around;
		}
	}
	&__row {
		display : inline-block;
		height : 60px;
		padding-top : 10px;
		float : right;
		min-width : auto !important;
		margin-right : 0;

		@media @media2 {
			padding-top : 11px;
		}
	}
	&__row-wrapper {
		display : inline-block;
		text-align: left;
		font-size : 0;
	}
	&__label {
		color : @white;
		font-size : 12px;
		line-height : 16px;
		display : block;
		@media @media2 {
			font-size : 12px;
		}
	}
	&__value {
		color : @white;
		font-size : 15px;
		font-weight : bold;
		@media @media2 {
			font-size : 15px;
		}
	}
}