.flats-choose {
	padding-top : 1px;
	.full-width();
	background-color : @gray-light;
	font-family : 'Open Sans Condensed';

	@media @media2 {
		padding : 0;
		lost-utility : clearfix;
	}

	&__heading {
		font-weight : bold;
		color : @almostblack;
		text-align : center;
		margin-top : 40px;

		@media @media1 { font-size: 40px !important; }
		@media @media2 { font-size: 30px !important; }
	}

	&__menu {
		height: 100%;
		min-height : 550px;

		@media @media1 {
			position: absolute;
			z-index : 998;
			width: 365px;
			top : 100px;
			bottom : 0;
			right : 100%;
			left : auto;
			&--active {
				right : auto;
				left : 0;
			}
		}

		@media @media2 {
			position : relative;
			width : 276px;
			float : left;
		}
	}

	&__main {
		@media @media2 {
			width: 492px;
			float: left;
		}
	}

	&__overlay {
		position : fixed;
		z-index : -2;
		display : none;
		top : 0px;
		left : 0;
		right : 0;
		bottom : 0;
		background : rgba(0,0,0,.7);

		&--active {
			z-index: 997;
			display : block;
		}
		@media @media2 { display : none; }
	}

	&__table {
		margin-bottom : 60px;

		@media @media2 {
			margin-left : 40px;
			margin-right : 40px;
			width : ~"calc(100% - 80px) !important";
		}
	}
}

.flats-menu {
	background: @green;
	&--commercials {
		background : @red;
	}
	&__title {
		color: @white;
		font-weight: bold;
		padding-top: 35px;
		text-align: center;
		font-family : 'Open Sans Condensed';

		@media @media1 { font-size : 30px; margin-bottom : 6px; }
		@media @media2 { font-size : 20px; margin-bottom : 20px; }
	}

	&__form {
		@media @media1 { margin-left : 30px; margin-right : 30px; }
		@media @media2 { margin-left : 40px; margin-right : 40px; }
	}

	&__label {
		color: @white;
		font-size: 20px;
		font-weight: 300;
		font-family : 'Open Sans Condensed';
		display: block;
		line-height: 20px;
		margin-bottom: 8px;
		margin-top: 25px;
		text-align : center;
	}

	.simpleselect {
		position : relative;
		height : 50px;
		display : inline-block;
		vertical-align: top;

		@media @media1 { width : 100%; }
		@media @media2 { width : 196px; }

		.placeholder {
			box-sizing : border-box;
			height : 50px;
			line-height : 50px;
			font-size : 25px;
			font-weight : 300;
			font-family : 'Open Sans Condensed';
			padding : 0 20px;
			color : @black;
			border : none;
			border-radius : 24px;

			@media @media1 { width : 100%; }
			@media @media2 { width : 196px; }

			&:after {
				content : '';
				background : url("@{public}img/select-arrow.png");
				text-align : center;
				width : 17px;
				height : 10px;
				display : inline-block;
				position : absolute;
				top : 20px;
				right : 15px;
			}
		}

		.options {
			@media @media1 { width : 100%; }
			@media @media2 { width : 196px; }
			.option {
				padding : 0 20px;
				line-height: 40px;
				cursor: pointer;
				box-sizing: border-box;
				height: 40px;
				font-size : 25px;
				font-weight : 300;
				font-family : 'Open Sans Condensed';
				background : @white;

				@media @media1 { width : 100%; }
				@media @media2 { width : 196px; }

				&.active {
					background: #666;
				}
			}
		}
	}

	&__button {
		.btn();
		.btn--white();
		@media @media1 { width : 325px; }
		@media @media2 { width : 220px; }
		height : 50px;
		line-height : 50px;
		margin-top : 40px !important;
		margin-left : -10px !important;
	}

	&__clear {
		.btn();
		.btn--dark();
		.flats-menu--commercials & {
			.btn--darkred();
		}
		height : 50px;
		line-height : 50px;
		margin-top : 10px !important;
		margin-left : -10px !important;

		@media @media1 { width : 325px; }
		@media @media2 { width : 220px; }
	}

	&__caller {
		width : 68px;
		height : 40px;
		background : url("@{public}images/filter-button.png");

		.flats-menu--commercials & {
			background : url("@{public}images/filter-button--commercials.png");
		}
		display : inline-block;
		position : absolute;
		top : 42px;
	    left: 100%;
	    margin-left: -1px;

	    .flats-choose__menu--active & {
	    	top : 32px;
	    }

		@media @media2 { display : none; }
	}
}