.flat-search {
	height : 220px;
	background : @green;
	box-shadow: inset 0px 11px 13px fade(@black, 25%);
	font-family : 'Open Sans Condensed', sans-serif;

	&__header {
		font-size : 30px;
		font-weight : bold;
		color : @white;
		text-align : center;
		line-height : 30px;
		padding-top: 48px;
		padding-bottom : 30px;
	}
	&__form {
		font-size : 0;
		@media @media1 { padding-left : 20px;}
		@media @media2 { padding-left : 50px;}
	}
	&__select-wrapper {
		position : relative;
		display : inline-block;
		vertical-align: top;

		@media @media1 { width : 220px; height : 60px;}
		@media @media2 { width : 334px; height : 50px;}

		.placeholder {
			box-sizing : border-box;
			font-size : 30px;
			font-weight : normal;
			padding : 0 20px;
			color : @almostblack;
			border : none;
		    border-top-right-radius: 0;
		    border-bottom-right-radius: 0;
		    border-top-left-radius: 24px;
		    border-bottom-left-radius: 24px;

			@media @media1 { width : 220px; height : 60px; line-height: 60px; }
			@media @media2 { width : 334px; height : 50px; line-height : 50px; }

			&:after {
				content : '';
				text-align : center;
				width : 17px;
				height : 10px;
				background : url("@{public}images/select-arrow.png");
				display : inline-block;
				position : absolute;
				top : 25px;
				right : 15px;
			}
		}

		.options {
			@media @media1 { width : 220px; }
			@media @media2 { width : 334px; }
			.option {
				padding : 0 20px;
				cursor: pointer;
				box-sizing: border-box;
				font-size : 25px;
				font-weight : bold;
				background : @white;

				@media @media1 { width : 220px; height: 60px; line-height: 60px; }
				@media @media2 { width : 334px; height: 50px; line-height: 50px;}

			}
		}
	}

	&__button {
		.btn();
		.btn--orange();
		@media @media1 { width : 220px; height: 60px; line-height: 58px; }
		@media @media2 { width : 334px; height: 50px; line-height: 50px;}
		display : inline-block !important;
		font-size : 25px;
		font-weight : bold;
	    border-top-left-radius: 0;
	    border-bottom-left-radius: 0;
	}
}