.flat {
	.full-width();
    overflow-x : hidden;
    padding-top : 1px;
    font-family : 'Open Sans Condensed', sans-serif;
    background : @gray-light;

	&__bar {
		/* .flatbar object */
	}

	&__go-back {
		font-size : 15px;
		line-height : 15px;
		position : relative;
		position : absolute;
		left : 50px;
		top : 20px;
		max-width : 120px;

		&, &:hover, &:visited, &:active {
			text-decoration: none;
			color : @almostblack;
		}
		&:before {
			content : url("@{public}images/go-back.png");
			position : absolute;
			left : -32px;
			top : 6px;
		}
	}

	position : relative;
	&__title {
		color : @almostblack2;
		text-align : center;
		margin-top : 90px;
		font-weight : bold;
		position : relative;

		@media @media1 { font-size: 40px; line-height : 40px; }
		@media @media2 { font-size: 20px; font-weight : bold; }
	}
	&__subtitle {
		color : @almostblack2;
		font-family : 'Open Sans';
		text-align: center;
		padding-top : 16px;
		font-weight : 300;
		font-size : 20px;
	}

	&__go {
		width : 50%;
		height : 50px;
		display : inline-block;
		position : absolute;
		top : 50%;
		margin-top : -25px;

		&--prev {
			background : url("@{public}images/flat-arrow-prev.png");
			background-position: left center;
			background-repeat: no-repeat;
			left : 20px;
		}
		&--next {
			background : url("@{public}images/flat-arrow-next.png");
			background-position: right center;
			background-repeat: no-repeat;
			right : 20px;
		}
	}

	&__wrapper {
		@media @media2 {
			lost-utility: clearfix;
		}
	}

	&__scheme {
		text-align : center;
		margin-top : 40px;
		margin-bottom : 40px;

		&--visualization {
			img.flat__scheme-img--plan { display: none; }
			img.flat__scheme-img--visualization { display: auto; }
		}
		&--plan {
			img.flat__scheme-img--plan { display: auto; }
			img.flat__scheme-img--visualization { display: none; }
		}

		&-buttons {
			margin-top : 10px;
			margin-bottom : 30px;
			text-align: center;
		}
		&-button {
			.btn();
			width : 158px;
			height : 40px;
			line-height : 40px;
			display : inline-block !important;
			&--plan {
				.btn--gray();
				margin-right : 10px;
			}
			&--visualization {
				line-height : 38px;
				.btn--gray();
			}
			&--active {
				.btn--green();
			}
		}
	}



	&__table-wrapper {
		background : white;
		padding-top : 6px;
		@media @media2 {
			padding-left : 30px;
			padding-right : 30px;
		}
	}

	&__table {

	    margin-bottom : 30px !important;
	    &-hint {
	    	font-weight : 300;
	    	font-size : 15px;
	    	text-align: center;
	    	span.star { color : @red; }
			margin-top: -10px;
			margin-bottom: 40px !important;
	    }

	    span.star { color : @red;}

	    @media @media1 {
		    width: ~"calc(100% - 144px) !important";
		    margin-left: 77px !important;
		    margin-right: 77px !important;
	    }

		tr {
			height : 60px;
			border-bottom : none !important;

			td {
				color : @almostblack !important;
				font-size : 20px !important;
				line-height : 60px;
				border-bottom : 1px solid @gray-e;

				&.price {
					font-size : 25px !important;
				}

				&:first-child {
					font-weight : 300 !important;
					width : 232px;
					text-align : left;
				}
				&:last-child {
					font-weight : bold;
					text-align : right;
				}
			}
		}
		
	}

	&__btn-request {
		.btn();
		.btn--orange();
		height : 50px;
		line-height : 50px;
		margin : 0 auto;
		display : block;
		font-size : 20px;
		margin-bottom : 20px;

		@media @media1 { width : 326px;  }
		@media @media2 { width : 240px; font-size: 15px;}
	}
	&__btn-send {
		.btn();
		.btn--gray();
		height : 50px;
		line-height : 50px;
		margin : 0 auto;
		display : block;
		margin-bottom : 24px;
		font-size : 20px;

		@media @media1 { width : 326px; margin-top : 20px; margin-bottom : 24px; }
		@media @media2 { width : 240px; font-size: 15px; }
	}
	&__social {
		text-align : center;

		ul {
			li {
				&:before { content : none; }
			}
		}
	}

	&__go2-menu {
		lost-utility : clearfix;
	    height : 60px;
	    background : white;

		@media @media1 { width : @width1; }
		@media @media2 { width : @width2 }
	}

	&__back2flats {
		height : 60px;
		line-height : 58px;
		border-top : 1px solid #e6e6e6;
		border-bottom : 1px solid #e6e6e6;
		text-align : center;
		background : white;

		a {
			color : @almostblack2;
			font-weight : 300;
			font-size : 20px;
			position : relative;
			padding-left : 25px;

			&, &:hover, &:visited, &:active {
				text-decoration: none;
			}
			&:before {
				content : url("@{public}images/back2flats.png");
				position : absolute;
				left : -16px;
				top : -14px;
			}
		}
	}

	&__go2 {
		height : 60px;
		font-size : 15px;
		line-height : 20px;
		padding-top : 10px;
		font-weight : 300;
		border-top : 1px solid #e6e6e6;
		display : inline-block;
		position : relative;


		@media @media1 { width : @width1/2; }
		@media @media2 { width : @width2/2; }

		&, &:hover, &:visited, &:active {
			color : #121f37;
			text-decoration: none;
		}
		&--prev {
			float : left;
			border-right : 1px solid #e6e6e6;
			text-align: right;
    		padding-right: 20px;
			@media @media1 { padding-left : 49px; }
			@media @media2 { padding-left : 69px; }

			&:before {
				position : absolute;
				top : 22px;
				content : url('@{public}images/flat-arrow-prev.png');
				width : 19px;
				height : 16px;

				@media @media1 { left : 20px; }
				@media @media2 { left : 40px; }
			}
		}
		&--next {
			float : right;
			text-align : left;
			padding-left : 20px;
			border-left : 1px solid #e6e6e6;

			@media @media1 { padding-right : 48px; }
			@media @media2 { padding-right : 68px; }

			&:after {
				margin-left : 10px;
				content : url('@{public}images/flat-arrow-next.png');
				width : 19px;
				height : 16px;

				position : absolute;
				top : 22px;
				@media @media1 { right : 20px; }
				@media @media2 { right : 40px; }

			}
		}
	}
	&__go2--prev + &__go2--next {
		border-left : none;
	}
}