.main-slider {
	&__slides {}
	&__slide {
		position : relative;
		display : none;
		&:first-child {
			display : block;
		}
	}
	&__slogan {
		position : absolute;
		top : 170px;
		background : url('@{public}images/pink-circle.png');
	
		display : flex;
		flex-direction : column;
		align-items: center;
		justify-content: center;

		width : 314px;
		height : 314px;
		@media @media1 { 
			left : 83px;
		}
		@media @media2 {
			left : 227px;
		}
	}

	&__title {
		font-family : 'Open Sans Condensed', sans-serif;
		font-weight : bold;
		font-size : 40px;
		line-height : 40px;
		color : @white;
		text-align : center;
	}
	&__text {
		font-family : 'Open Sans Condensed', sans-serif;
		font-size : 25px;
		line-height : 26px;
		color : @white;
		padding-top : 8px;
		text-align : center;
	}
	&__picture {
		font-size : 0;
		img { object-fit : cover; }

		&--small { img { width : 480px; height : 596px; } }
		&--large { img { width : 768px; height : 710px; } }

		@media @media1 {
			&--small { display : block; }
			&--large { display : none; }
		}
		@media @media2 {
			&--small { display : none; }
			&--large { display : block; }
		}

	}
}
.slick-dots {
    padding-left: 0;
    text-align: center;
    display: block;
    position: absolute;
    bottom: 15px;
    list-style : none;
    @media @media1 { width : @width1; }
    @media @media2 { width : @width2; }
    
	li {
		width : 20px;
		height : 20px;
		border-radius : 20px;
		display : inline-block;
		margin-right : 10px;
		background : @white;
		&:last-child { margin-right : 0; }
		cursor : pointer;

		button {
			display : none;
		}
		opacity : .5;
		&.slick-active {
			opacity : 1;
		}
	}
}