.pager {
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
    text-align: center;
    margin-top: 40px;
    font-family : "Direct";
    padding-bottom : 20px;

    &__separator {
    	width : 19px;
    	height : 5px;
    	background : url('@{public}images/pager-separator.png');
    	.pager--red & {
    		background : url('@{public}images/pager-separator--red.png');
    	}
    	display : inline-block;
    	margin : 15px 10px auto 10px;
    }

	a, span{
	    display: inline-block;
	    vertical-align: top;
	    width: 30px;
	    height: 30px;
	    margin: 2px 5px;
	    border: 1px solid @green;
	    background : @transparent;
	    font: 15px/30px 'Direct';
	    letter-spacing: 0;
	    text-align: center;
	    color: @almostblack;
	    border-radius: 30px;
	    font-weight : normal;
	}
	&--red span {
		border-color : @red;
	}

	a {
		&.active {
			background : @green;
			width : 35px;
			height : 35px;
			line-height : 35px;
			border-radius : 35px;
			margin-top : 0;
			&, &:hover, &:visited, &:active {
				color : @white;
			}
		}
		&, &:hover, &:visited, &:active {
			text-decoration: none;
			color : @black;
		}
	}
	&--red a {
		border-color : @red;
		&.active { background : @red; }
	}
}