.popup-general {
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: auto;

    display : none;
    &.active {
    	display : block;
    }
}

.popup-overlay-general {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index : 9998;
    background: rgba(0,0,0,.8);  
}

.popup-container-general {
    position: absolute;
    top: 20px;
    background : #f5f5f5;
    z-index : 9999;

    border-radius : 24px;

    @media @media1 { width : @width1 - 2*20px; left : 20px; }
    @media @media2 { width : @width2 - 2*158px; left : 158px; }
}

.popup__heading {
    height: 80px;
    font-weight: bold;
    font-size: 30px;
    color: @white;
    padding-left: 20px;
    line-height: 80px;
    background: @green;

    border-top-left-radius : 24px;
    border-top-right-radius : 24px;

    @media @media1 { font-size: 30px; }
    @media @media2 { font-size: 20px; }
}

.popup__close {
    position: absolute;
    top: 32px;
    right: 20px;
    color: red;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("@{public}img/popup-close.png");
}