.popup-callback {

	&.active {
		.popup-callback__overlay {
			min-height : 600px;
		}
	}

	&__container {
		top: 140px;
		width : 440px;
	}

	&__body {
		padding-left : 30px;
		padding-right : 30px;
	}
	&__form {}
	&__label {
		font-size : 20px;
		font-weight : 300;
		line-height : 24px;
		color : @almostblack;
		padding-top : 24px;
		padding-bottom : 6px;
		display : block;
		.required {
			color : #d23a25;
			padding-left : 6px;
		}
	}
	&__input {

		padding-left : 20px;
		padding-right : 20px;
		font-size : 20px;

		width: 380px;
	    height: 50px;
	    border-radius: 3px;
	    &, &:focus {
		    border: none;
		    outline: none;
	    }
	    box-shadow: inset 0px 1px 3px 0px rgba(10, 10, 10, 0.42);

		&--textarea {
			height : 90px;
			line-height : 30px;
		}
	}
	&__button {
		.btn();
		.btn--orange();
		width : 380px;
		height : 60px;
		line-height : 58px;
		margin-bottom : 60px;
		font-size : 25px;
		font-weight : bold;
		@media @media1 {
			margin-bottom: 40px;
		}

	}
	&__hint {
		font-size : 15px;
		font-weight : bold;
		color : #6d727f;
		display : block;
		text-align: center;

		.star {
			color : #d23a25;
		}
	}
}