<script src="<?= publicdir('vendor/jquery.min.js') ?>"></script>
<script src="<?= publicdir('vendor/hammer.min.js') ?>"></script>
<script src="<?= publicdir('vendor/slick.min.js') ?>"></script>
<script src="<?= publicdir('vendor/jquery.simpleselect.min.js') ?>"></script>
<script src="<?= publicdir('vendor/jquery.maskedinput.min.js') ?>"></script>
<script src="<?= publicdir('vendor/jquery.validate.min.js') ?>"></script>

<?php if ( in_array($page, ['contacts', 'map']) ): ?>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<?php endif; ?>
<script src="<?= publicdir('js/main.js') ?>"></script>

<script type="text/javascript">
	window.setViewportRatio = function() {
        var ww;
        var landscape = window.innerHeight <= window.innerWidth;

        if( /iPhone|iPad|iPod/i.test(navigator.userAgent) ) {
            ww = landscape ? window.screen.height : window.screen.width;
        } else {
            ww = window.screen.width;
        }

        var mw =  ( ww >= 768 ) ? 768 : 480; // min width of site
        var ratio =  ww / mw; 

        $('#viewport').attr('content', 
        	'initial-scale=' + ratio + ', maximum-scale=' + ratio + ', minimum-scale=' + ratio + ', user-scalable=yes, width=' + ww
        );
	}
    $(function(){
		setViewportRatio();
        RATIO_SET = 1;
        window.addEventListener("orientationchange", setViewportRatio, false);
    });
</script>