<div class="footer" id="footer">
    <div class="footer__upper">
		<div class="footer__logo-wrapper">
			<img src="<?= publicdir('images/logo.footer.png') ?>" class="footer__logo">
		</div>
		<div class="footer__phone-text">8 800 707-10-77</div>
		
		<a class="footer__email" href="mailto:info@dom-souzny.ru">info@vg-anapa.ru</a>
		<div class="footer__copyright">&copy; 2016. ЖК «Времена года» Все права защищены.</div>
    </div>

    <div class="footer__full-version-link">
    	<a href="#">полная версия сайта</a>
    </div>
</div>