<div class="header" id="header">
	<div class="header__wrapper">
		<a href="#" class="header__navigation"></a>

		<a href="/?page=index"><img src="<?= publicdir('images/logo.png') ?>" alt="" class="header__logo"></a>

		<a href="#" class="header__phone" id="callback_btn"></a>
	</div>
</div>
<?php include "src/views/helpers/nav.phtml" ?>
