<div class="notfound">
	<div class="notfound__heading">404</div>
	<div class="notfound__text">
		<p>Ласковые волны накатывают на песчанный пляж, красивый закат, коктейль в руке и вы на балконе своей современной и уютной квартиры в ЖК «Времена года» любуетесь этим великолепием.</p>

		<p>Представили? Тогда вам срочно нужно подобрать квартиру в нашем жилом комплексе или узнать, какие акции и спецпредложения мы подготовили для вас</p>
	</div>
</div>
