<div class="about">
	<div class="about__wrapper">
		<h1>О жилом комплексе</h1>

		<h2>Местоположение</h2>
		<p><a href="#" class="about__address address"><span>Анапское шоссе, 6</span></a></p>
		

		<h2>Описание жилого комплекса</h2>
		<p>
			16 монолитных 5-ти этажных домов с техническим этажом, облицованных керамогранитом и разделенных по цветовым оттенкам фасадов на 4 зоны: Зима, Весна, Лето, Осень. Каждая из зон образует уютный микроклимат персонального двора, который защищает Вас от внешней суеты и создает ощущение комфорта и отдыха. Жилой комплекс оснащен парковочными местами, детскими площадками. В каждом доме находятся коммерческие помещения, что обеспечит жилой комплекс всеми необходимыми товарами и услугами. Расположение позволяет жителям в течение 5 минут на транспорте или 15 минут пешком добраться до песчаного пляжа "Золотые пески".
		</p>

		<h2>Срок ввода в эксплуатацию</h2>
		<p>IV квартал 2016 года</p>

		<h2>Описание квартир</h2>
		<ul>
			<li>предчистовая отделка</li>
			<li>свободная планировка </li>
			<li>электросчетчик в квартире, разводка - до счетчика</li>
	 		<li>окна металлопластиковые</li> 
			<li>телефонизация, кабельное телевидение, интернет </li>
			<li>высота потолков - 2,8 м.</li>
		</ul>

		<h2>Территория</h2>
		<ul>
			<li>дворы с зелеными насаждениями </li>
			<li>детские площадки</li>
			<li>парковочные места</li>
		</ul>

		<h2>Информация о дома</h2>
		<ul>
			<li>1,2,3-комнатные квартиры</li>
			<li>класс жилья - комфорт </li>
			<li>этажность объекта - 5 этажей </li>
			<li>наличие пассажирских лифтов и пандусов для инвалидов</li>
		</ul>

		<h2>Информация по реализации</h2>
		<p>Квартиры реализуются в рамках ФЗ-214 "Об участии в долевом строительстве многоквартирных домов и иных объектов недвижимости". Договоры долевого участия проходят государственную регистрацию, оплата квартир производится после вышеуказанной регистрации, что гарантирует надежность Застройщика.</p>
	</div>
</div>

<div class="documents">
	<div class="documents__wrapper">
		
		<h2>Документация</h2>

		<a href="#" class="documents__doc-wrapper">
			<span class="documents__doc-title">
				Изменения в проектную декларацию<br>от 27.10.2015 
			</span>
			<span class="documents__doc-status">PDF, 5.1 Мб</span>
		</a>

		<a href="#" class="documents__doc-wrapper">
			<span class="documents__doc-title">
				Изменения в проектную декларацию<br>от 27.10.2015 
			</span>
			<span class="documents__doc-status">PDF, 5.1 Мб</span>
		</a>

		<a href="#" class="documents__doc-wrapper">
			<span class="documents__doc-title">
				Изменения в проектную декларацию<br>от 27.10.2015 
			</span>
			<span class="documents__doc-status">PDF, 5.1 Мб</span>
		</a>

		<a href="#" class="documents__doc-wrapper">
			<span class="documents__doc-title">
				Изменения в проектную декларацию<br>от 27.10.2015 
			</span>
			<span class="documents__doc-status">PDF, 5.1 Мб</span>
		</a>

		<a href="#" class="documents__doc-wrapper">
			<span class="documents__doc-title">
				Изменения в проектную декларацию<br>от 27.10.2015 
			</span>
			<span class="documents__doc-status">PDF, 5.1 Мб</span>
		</a>
	</div>
</div>



