<div class="flats-choose flats-choose--commercials">
	<div class="flats-choose__menu flats-menu flats-menu--commercials">
		<a href="#" class="flats-menu__caller" id="flats-menu__caller"></a>
		
		<div class="flats-menu__title">Параметры поиска</div>

		<form class="flats-menu__form">
			<label class="flats-menu__label" for="rooms">Номер дома</label>
			<select name="rooms" class="flats-menu__select">
				<option value="0">Любое</option>
				<option value="1">Одна</option>
				<option value="2">Две</option>
			</select>

			<label class="flats-menu__label" for="square">Площадь, м<sup>2</sup></label>
			<select name="square" class="flats-menu__select">
				<option value="0">Любая</option>
				<option value="1">до 60м2</option>
				<option value="2">до 100м2</option>
				<option value="3">от 100м2</option>
			</select>

			<label class="flats-menu__label" for="price">Цена, руб</label>
			<select name="price" class="flats-menu__select">
				<option value="0">Не важно</option>
				<option value="1">до 5 млн</option>
				<option value="2">от 5 млн</option>
			</select>

			<input type="submit" class="flats-menu__button" value="Найти">
			<a href="#" class="flats-menu__clear" id="clear_btn">Очистить фильтр</a>

		</form>
	</div>
	<div class="flats-choose__overlay"></div>
	<div class="flats-choose__main">
		<h1 class="flats-choose__heading">Коммерческие<br>помещения</h1>
		<table class="flats-choose__table table--red">
			<thead>
				<tr>
					<th>№ дома</th>
					<th>Пл., м<sup>2</sup></th>
					<th>Цена, руб</th>
				</tr>
			</thead>
			<tbody>
				<tr data-href="/?page=flat">
					<td>1</td>
					<td>1</td>
					<td>5 855 847</td>
				</tr>
				<tr data-href="/?page=flat">
					<td>2</td>
					<td>63,7</td>
					<td>5 855 847</td>
				</tr>
				<tr data-href="/?page=flat">
					<td>1</td>
					<td>163,7</td>
					<td>5 855 847</td>
				</tr>
				<tr data-href="/?page=flat">
					<td>2</td>
					<td>63,7</td>
					<td>5 855 847</td>
				</tr>
				<tr data-href="/?page=flat">
					<td>1</td>
					<td>63,7</td>
					<td>5 855 847</td>
				</tr>
				<tr data-href="/?page=flat">
					<td>2</td>
					<td>63,7</td>
					<td>5 855 847</td>
				</tr>
				<tr data-href="/?page=flat">
					<td>1</td>
					<td>63,7</td>
					<td>5 855 847</td>
				</tr>
				<tr data-href="/?page=flat">
					<td>2</td>
					<td>63,7</td>
					<td>5 855 847</td>
				</tr>
				
			</tbody>
		</table>
	</div>

	<?php $pager_class='pager--red'; include "src/views/blocks/pager.phtml"; ?>
</div>