<div class="contacts">
	<div class="contacts__title">Контакты</div>

	<div class="contacts__subtitle">Отдел продаж</div>
	<div class="contacts__phone">8-800-707-10-77</div>
	<a href="mailto:info@dom-souzny.ru" class="contacts__email">info@vg-anapa.ru</a>

	<div class="contacts__address">Анапское шоссе, 6<br>
	График работы: С 9 до 18 ежедневно</div>

	<div class="contacts__btn-wrapper">
		<a href="#" class="contacts__btn">Заказать звонок</a>
	</div>
	
	<div class="contacts__map" id="map"></div>
</div>



