<div class="gallery">
	<div class="gallery__list">
		<div class="gallery__image">
			<img class="small" src="<?= publicdir('images/gallery/1.480.jpg') ?>">
			<img class="large" src="<?= publicdir('images/gallery/1.768.jpg') ?>">
		</div>
		<div class="gallery__image">
			<img class="small" src="<?= publicdir('images/gallery/2.480.jpg') ?>">
			<img class="large" src="<?= publicdir('images/gallery/2.768.jpg') ?>">
		</div>
	</div>

	<div class="gallery__controls">
		<a href="#" class="gallery__control gallery__control--prev"></a>
		<a href="#" class="gallery__control gallery__control--next"></a>
		<div class="gallery__title">Галерея</div>
	</div>
</div>
