<h1>Акции</h1>
<h2>Спецпредложения от застройщика (h2)</h2>
<div class="date">04.11.2015</div>
<p>Акции в декабре 2015 Снегопад скидок на квартиры, экономия до 1 миллиона рублей.</p>

<h3>H3 - Спешите купить квартиры по выгодным ценам с экономией до 1,0 млн. руб</h3>

<p>Акция действует с 04 по 31 декабря 2015 г. на 1-комнатные, 2-комнатные и 3-комнатные квартиры в 1, 2 и 3 секциях жилого комплекса. Ознакомиться с полным перечнем квартир, участвующих в акции, можно кликнув на интересующий блок выше.</p>

<p>Предложение ограничено.Подробности уточняйте у менеджеров по продажам.</p>

<h4>Инфраструктура (h4)</h4>

<p>16 монолитных 5-ти этажных домов с техническим этажом, облицованных керамогранитом и разделенных по цветовым оттенкам фасадов на 4 зоны: Зима, Весна, Лето, Осень. Каждая из зон образует уютный микроклимат персонального двора, который защищает Вас от внешней суеты и создает ощущение комфорта и отдыха.В каждом доме находятся коммерческие помещения, что обеспечит жилой комплекс всеми необходимыми товарами и услугами. </p>

<h2>Местоположение</h2>
<p><a href="#" class="address"><span>Анапское шоссе, 6</span></a></p>

<h2>Описание жилого комплекса</h2>

<p>16 монолитных 5-ти этажных домов с техническим этажом, облицованных керамогранитом и разделенных по цветовым оттенкам фасадов на 4 зоны: Зима, Весна, Лето, Осень. Каждая из зон образует уютный микроклимат персонального двора, который защищает Вас от внешней суеты и создает ощущение комфорта и отдыха. Жилой комплекс оснащен парковочными местами, детскими площадками. В каждом доме находятся коммерческие помещения, что обеспечит жилой комплекс всеми необходимыми товарами и услугами. Расположение позволяет жителям в течение 5 минут на транспорте или 15 минут пешком добраться до песчаного пляжа "Золотые пески".
</p>

<div class="simple-slider full-width">
	<img src="<?= publicdir('images/pictures/1.jpg') ?>">
	<img src="<?= publicdir('images/pictures/2.jpg') ?>">
	<img src="<?= publicdir('images/pictures/3.jpg') ?>">
</div>

<h2>Срок ввода в эксплуатацию</h2>
<p>IV квартал 2016 года</p>
<h2>Описание квартир</h2>
<ul>
	<li>предчистовая отделка</li>
	<li>свободная планировка </li>
	<li>электросчетчик в квартире, разводка - до счетчика</li>
		<li>окна металлопластиковые</li> 
	<li>телефонизация, кабельное телевидение, интернет </li>
	<li>высота потолков - 2,8 м.</li>
</ul>

<h2>Территория</h2>
<ul>
	<li>дворы с зелеными насаждениями </li>
	<li>детские площадки</li>
	<li>парковочные места</li>
</ul>

<h2>Информация о дома</h2>
<p>Квартиры реализуются в рамках ФЗ-214 "Об участии в долевом строительстве многоквартирных домов и иных объектов недвижимости". Договоры долевого участия проходят государственную регистрацию, оплата квартир производится после вышеуказанной регистрации, что гарантирует надежность Застройщика.</p>
<ol>
	<li>1,2,3-комнатные квартиры</li>
	<li>класс жилья - комфорт </li>
	<li>этажность объекта - 5 этажей </li>
	<li>наличие пассажирских лифтов и пандусов для инвалидов</li>
</ol>

<div class="full-width">
	<?php include "src/views/blocks/banner.phtml" ?>	
</div>

<table>
	<thead>
		<tr>
			<th>Комн.</th>
			<th>Корпус</th>
			<th>Этаж</th>
			<th>Пл., м<sup>2</sup></th>
			<th>Цена, руб</th>
		</tr>
	</thead>
	<tbody>
		<tr data-href="/?page=flat">
			<td>1</td>
			<td>1</td>
			<td>12</td>
			<td>63,7</td>
			<td>5 855 847</td>
		</tr>
		<tr data-href="/?page=flat">
			<td>2</td>
			<td>1</td>
			<td>11</td>
			<td>63,7</td>
			<td>5 855 847</td>
		</tr>
		<tr data-href="/?page=flat">
			<td>1</td>
			<td>1</td>
			<td>12</td>
			<td>63,7</td>
			<td>5 855 847</td>
		</tr>
		<tr data-href="/?page=flat">
			<td>2</td>
			<td>1</td>
			<td>11</td>
			<td>63,7</td>
			<td>5 855 847</td>
		</tr>
		<tr data-href="/?page=flat">
			<td>1</td>
			<td>1</td>
			<td>12</td>
			<td>63,7</td>
			<td>5 855 847</td>
		</tr>
		<tr data-href="/?page=flat">
			<td>2</td>
			<td>1</td>
			<td>11</td>
			<td>63,7</td>
			<td>5 855 847</td>
		</tr>
		<tr data-href="/?page=flat">
			<td>1</td>
			<td>1</td>
			<td>12</td>
			<td>63,7</td>
			<td>5 855 847</td>
		</tr>
		<tr data-href="/?page=flat">
			<td>2</td>
			<td>1</td>
			<td>11</td>
			<td>63,7</td>
			<td>5 855 847</td>
		</tr>
		
	</tbody>
</table>

<?php include "src/views/blocks/pager.phtml" ?>

<h2>Кнопки</h2>

<p><input class="btn btn--orange" type="button" value="Заявка на просмотр"></p>
<p><input class="btn btn--gray" type="button" value="Отправить на почту"></p>
