<div class="banner">
	<div class="banner__header">Оплата перелёта<br>за счёт заказчика</div>
	<div class="banner__subheader">
		банкет, сауна, девочки,<br> шаурма и обратный плацкарт
	</div>
	
	<div class="banner__button-wrapper">
		<a href="#" class="banner__button">Подробнее</a>	
	</div>
</div>