<div class="image-menu">
	<div class="image-menu__list">
		<a href="#" class="image-menu__item">
			<img src="<?= publicdir('images/teasers/about.jpg') ?>" alt="" class="image-menu__image">
			<span class="image-menu__text">О жилом квартале</span>
		</a>
		<a href="#" class="image-menu__item">
			<img src="<?= publicdir('images/teasers/infrastructure.jpg') ?>" alt="" class="image-menu__image">
			<span class="image-menu__text">Расположение<br>и инфраструктура</span>
		</a>
		<a href="/?page=flats-choose" class="image-menu__item">
			<img src="<?= publicdir('images/teasers/flat-search.jpg') ?>" alt="" class="image-menu__image">
			<span class="image-menu__text">Выбор квартиры<br>по параметрам</span>
		</a>
		<a href="/?page=contacts" class="image-menu__item">
			<img src="<?= publicdir('images/teasers/commerce.jpg') ?>" alt="" class="image-menu__image">
			<span class="image-menu__text">Коммерческие помещения</span>
		</a>
		<a href="/?page=gallery" class="image-menu__item">
			<img src="<?= publicdir('images/teasers/gallery.jpg') ?>" alt="" class="image-menu__image">
			<span class="image-menu__text">Фотогалерея</span>
		</a>
		<a href="/?page=contacts" class="image-menu__item">
			<img src="<?= publicdir('images/teasers/service.jpg') ?>" alt="" class="image-menu__image">
			<span class="image-menu__text">Ремонт — наша забота</span>
		</a>
		<a href="/?page=contacts" class="image-menu__item">
			<img src="<?= publicdir('images/teasers/contacts.jpg') ?>" alt="" class="image-menu__image">
			<span class="image-menu__text">Контакты</span>
		</a>

	</div>
</div>