<div class="main-slider">
	<div class="main-slider__slides">

		<div class="main-slider__slide">
			<div class="main-slider__slogan">
				<div class="main-slider__title">5 минут<br>от моря!</div>
				<div class="main-slider__text">в 7 минутах ходьбы<br>от центральной ж/д станции!</div>	
			</div>
			<div class="main-slider__picture main-slider__picture--small"><img src="<?= publicdir('images/main-slider/slide-01.jpg') ?>" alt=""></div>
			<div class="main-slider__picture main-slider__picture--large"><img src="<?= publicdir('images/main-slider/slide-01.jpg') ?>" alt=""></div>
		</div>

		<div class="main-slider__slide">
			<div class="main-slider__slogan">
				<div class="main-slider__title">5 минут<br>от моря!</div>
				<div class="main-slider__text">в 7 минутах ходьбы<br>от центральной ж/д станции!</div>	
			</div>
			<div class="main-slider__picture main-slider__picture--small"><img src="<?= publicdir('images/main-slider/slide-01.jpg') ?>" alt=""></div>
			<div class="main-slider__picture main-slider__picture--large"><img src="<?= publicdir('images/main-slider/slide-01.jpg') ?>" alt=""></div>
		</div>

		<div class="main-slider__slide">
			<div class="main-slider__slogan">
				<div class="main-slider__title">5 минут<br>от моря!</div>
				<div class="main-slider__text">в 7 минутах ходьбы<br>от центральной ж/д станции!</div>	
			</div>
			<div class="main-slider__picture main-slider__picture--small"><img src="<?= publicdir('images/main-slider/slide-01.jpg') ?>" alt=""></div>
			<div class="main-slider__picture main-slider__picture--large"><img src="<?= publicdir('images/main-slider/slide-01.jpg') ?>" alt=""></div>
		</div>
		
	</div>
</div>