<div class="pager <?= isset($pager_class) ? $pager_class : ''; ?>">
    <a href="#" class="active">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <em class="pager__separator"></em>
    <a href="#">12</a>
    <a href="#">13</a>
</div>
<?php unset($pager_class); ?>